<section class="content row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3>Pruebas de números aleatorios</h3>
            </div>
            <div class="box-body">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Seleccione un conjunto</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <select class="form-control"
                                                    ng-model="prueba.conjunto"
                                                    ng-options="item.id as item.nombre for item in set.response"
                                                    ng-change="seleccionarConjunto()">
                                                <option value="">Seleccione un conjunto.</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="numeros && !!numeros.length">
                            <div class="col-md-12">
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">Números aleatorios:</label>
                                    <div class="col-sm-10">
                                        {{numeros.join(", ")}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Método</label>
                                    <div class="col-sm-5">
                                        <select class="form-control"
                                                ng-model="prueba.metodo"
                                                ng-change="seleccionarMetodo()">
                                            <option value="">Seleccione una prueba.</option>
                                            <option value="1">Uniformidad: Chi2</option>
                                            <option value="2">Uniformidad: Kolmogrov</option>
                                            <option value="3">Aleatoreidad: Rachas</option>
                                            <option value="4">Aleatoreidad: Rachas sobre y bajo la media</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12"
                                 ng-show="['1'].indexOf(prueba.metodo) > -1">
                                <label>
                                    <input type="radio"
                                           ng-model="prueba.chi2.metodoIntervalo"
                                           ng-change="seleccionarMetodo()"
                                           value="1"/>
                                    Sturges
                                <label>
                                <label>
                                    <input type="radio"
                                           ng-model="prueba.chi2.metodoIntervalo"
                                           ng-change="seleccionarMetodo()"
                                           value="2"/>
                                    Raiz(N)
                                <label>
                                <label>
                                    <input type="radio"
                                           ng-model="prueba.chi2.metodoIntervalo"
                                           ng-change="seleccionarMetodo()"
                                           value="3"/>
                                    Investigador
                                <label>
                            </div>
                            <div class="col-md-12"
                                 ng-show="prueba.metodoIntervalo == 3">
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">Ingresar Intervalo:</label>
                                    <div class="col-sm-5">
                                        <input type="number"
                                               ng-model="prueba.tempIntervalos">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12"
                                 ng-show="prueba.metodo">
                                 <div class="form-group">
                                    <label class="col-sm-2 control-label">% de Significancia (del 0% - 100%):</label>
                                    <div class="col-sm-5">
                                        <input type="number"
                                               ng-model="prueba.significancia">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12"
                                 ng-show="!!prueba.metodo">
                                <button type="submit" class="btn btn-info pull-right" ng-click="probar()">Probar</button>
                            </div>
                            <br/></br/>
                            <div class="col-md-12"
                                 ng-show="!!resultado.length">
                                <div class="col-md-12" ng-show="prueba.metodo == 1">N = {{prueba.chi2.n}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 2">N = {{prueba.kolsmi.n}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 3">N = {{prueba.racha.n}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 3">Cant. Rachas Co = {{prueba.racha.rachas}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 4">N = {{prueba.rachamed.n}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 4">N0 = {{prueba.rachamed.n0}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 4">N1 = {{prueba.rachamed.n1}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 4">Cant. Rachas Co = {{prueba.rachamed.rachas}}</div>
                                <div class="col-md-12" ng-show="['3','4'].indexOf(prueba.metodo) > -1">UCo = {{uco}}</div>
                                <div class="col-md-12" ng-show="['3','4'].indexOf(prueba.metodo) > -1">S2Co = {{s2co}}</div>
                                <div class="col-md-12" ng-show="['3','4'].indexOf(prueba.metodo) > -1">Zo = {{zo}}</div>
                                <div class="col-md-12" ng-show="['3','4'].indexOf(prueba.metodo) > -1">Z = {{z}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 1">Máx = {{prueba.chi2.max}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 1">Min = {{prueba.chi2.min}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 1">Recorrido = {{prueba.chi2.recorrido}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 2">D+ = {{dmas}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 2">D- = {{dmenos}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 2">Dc = {{dc}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 1">Intervalos = {{prueba.chi2.intervalos}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 1">Longitud Intervalos = {{prueba.chi2.longIntervalo}}</div>
                                <div class="col-md-12" ng-show="prueba.metodo == 1">Chi2 = {{sumchi2}}</div>
                                <div class="col-md-12" ng-show="['1','2'].indexOf(prueba.metodo) > -1">Valor Crítico = {{valorCritico}}</div>
                                <div class="col-md-12">{{textoResultado}}</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>