<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">MENÚ PRINCIPAL</li>
    <li ng-if="currentUser.isAllowed('records', '_view')">
        <a href="#/">
            <i class="fa fa-th"></i> <span>Registros</span>
        </a>
    </li>
    <li class="treeview">
        <a>
            <i class="fa fa-users"></i> <span>Sistema</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#/">
                    <i class="fa fa-circle-o"></i> Generador
                </a>
            </li>
            <li>
                <a href="#/pruebas">
                    <i class="fa fa-circle-o"></i> Pruebas
                </a>
            </li>
        </ul>
    </li>
</ul>